# dependencies
/node_modules

# next.js
/.next/
/out/

# prebuilt pages export (committed only on the bitlane-website branch)
/dist/

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
